@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}
                              /*---------IMAGEM DE FUNDO-----------------*/
.introduction {
 background-image: url(./img/fundo4.svg);
 display: flex;
 flex-direction: column;
}
                    /*---------CLASS DATA  + CLASS MENU-SOCIAL-NETWORKS -----------------*/

.introducion-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    padding-block: 5rem;
  

}  
               
                                   /*---------CLASS DATA 1-----------------*/
.data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.data-name {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    justify-content: center;
    text-align: center;
}
            
                               /*---------CLASS MENU-SOCIAL NETWORKS-----------------*/
.items {
    list-style: none;
   
}
.item {
    font-size: 1.3rem;
    color:rgb(57, 201, 96); 

}
.link-social {
    text-decoration: none;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);  
    align-items: center;
    justify-content: center;
}
                                 /*---------CLASS PROFILE-----------------*/

.profile {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 2rem;
border-radius: 15px;
border: 1px solid aquamarine;
padding-block: 2rem;
padding-inline: 2rem;
margin-inline: 6rem;

    
 
}
.profile-img {
    border-radius: 15px;
    width: 140px;
    height: 140px;
    
}
.profile-title {
    color:rgb(24, 180, 102);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    padding-bottom: 1rem;

}
.profile-text {
    width: 600px;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);
}
                                    /*---------CLASS DATA 2-----------------*/

.first-name {
    display: block;
    
}
.data-name {
    font-family: 'Indie Flower', cursive;
    color:rgb(24, 180, 102);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 3rem;
}
.data-about-name {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);
    font-size: 2rem;
}
.data-function {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.5rem;
}

                                        /*---------CLASS CONTAINER 1-----------------*/

.container {
    background-image: url(./img/fundo4.svg);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding-block: 5rem;
}
                                      /*---------CLASS FORMATION-----------------*/

.formation-title {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.5rem;
    text-align: center;

}
.formation-institution {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.5rem;
    text-align: center;
}
.table-title {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.5rem;
    
}
.table-item {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);
    font-size: 1.5rem;
    text-align: center;
}
                                 /*---------CLASS CERTIFICATIONS -----------------*/

.certifications {
    justify-content: center;
    align-items: center;
}
.certifications-title {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}
.certifications-item {
    list-style: none;
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);
    font-size: 1.5rem;
    text-align: center;

}
                              /*---------CLASS CONTAINER 2 -----------------*/

.container2 {
    background-image: url(./img/fundo4.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
    padding: 4rem 4rem;
 
   
}
                             /*---------CLASS SKILLS-----------------*/

.skills-title {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.3rem;
    text-align: center;
   

}
.skills-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    list-style: none;

    
}
.skills-item {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);
    font-size: 1.5rem;

}
                                /*---------CLASS REFERENCES -----------------*/
                                
.references-title {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.3rem;
    text-align: center;

  

}
.references-name {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 2rem;
}
.references-contato {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);
    font-size: 1.5rem;
    

}
.references-link {
    text-decoration: none;
}
