@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}
                              /*---------IMAGEM DE FUNDO-----------------*/
.introduction {
 background-image: url(./img/fundo4.svg);
 display: flex;
 flex-direction: column;
 gap: 2rem;

 
}
                    /*---------CLASS DATA  + CLASS MENU-SOCIAL-NETWORKS -----------------*/

.introducion-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-inline: 2rem;
}  
      

                                   /*---------CLASS DATA 1-----------------*/
.data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid aqua;
    border-radius: 15px;
    padding-block: 2rem;
    padding-inline: 2rem;
    
}
.data-name {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    justify-content: center;
    text-align: center;
}
.data-function {
    text-align: center;
}
            
                               /*---------CLASS MENU-SOCIAL NETWORKS-----------------*/
.social-list {
    border-radius: 15px;
    border: 1px solid aqua;
    padding-block: 2rem;
    padding-inline: 2rem;   
    

}

.items {
    list-style: none;
   
}
.item {
    font-size: 1.3rem;
    color:rgb(57, 201, 96); 

}
.link-social {
    text-decoration: none;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);  
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}
.link-social:hover {
    color: rgb(243, 224, 224);
}
                                 /*---------CLASS PROFILE-----------------*/

.profile {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
border-radius: 15px;
border: 1px solid aqua;
margin-inline: 2rem;
padding-block: 2rem;

}
.profile-img {
    border-radius: 15px;
    width: 180px;
    height: 180px;
    
}
.profile-title {
    color:rgb(24, 180, 102);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    padding-block: 1rem;
    text-align: center;

}
.profile-text {
    width: 600px;
    color:gray;
    text-align: center;
    padding-inline: 1rem;
    font-size: 20px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);
}
.profile-text:hover {
    color: rgb(243, 224, 224);
    
}
                                    /*---------CLASS DATA 2-----------------*/

.first-name {
    display: block;
    
}
.data-name {
    font-family: 'Indie Flower', cursive;
    color:rgb(24, 180, 102);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 3rem;
}
.data-about-name {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);
    font-size: 2rem;
}
.data-function {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.5rem;
}

                                        /*---------CLASS CONTAINER 1-----------------*/

.container {
    background-image: url(./img/fundo4.svg);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-block: 2rem;
}
                                      /*---------CLASS FORMATION-----------------*/
#formation {
    border: 1px solid aqua;
    border-radius: 15px;
    padding-block: 2rem;
    padding-inline: 2rem;
    margin-inline: 2rem;
}

.formation-title {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.5rem;
    text-align: center;

}

.formation-institution {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.5rem;
    text-align: center;
}
.table-title {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.5rem;
    
}
.table-item {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);
    font-size: 1.5rem;
    text-align: center;
}
                                 /*---------CLASS CERTIFICATIONS -----------------*/

#certifications {
    justify-content: center;
    align-items: center;
    border: 1px solid aqua;
    border-radius: 15px;
    padding-block: 2rem;
    padding-inline: 2rem;
    margin-inline: 2rem;
}
.certifications-title {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}
.certifications-item {
    list-style: none;
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);
    font-size: 1.5rem;
    text-align: center;

}
                              /*---------CLASS CONTAINER 2 -----------------*/

.container2 {
    background-image: url(./img/fundo4.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-block: 2rem;
}
                             /*---------CLASS SKILLS-----------------*/

#skills {
    display: flex;
    flex-direction: column;
    border: 1px solid aqua;
    border-radius: 15px;
    padding-block: 2rem;
    padding-inline: 5rem;
    margin-inline: 2rem;
   
}
.skills-title {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.3rem;
    text-align: center;
}
.skills-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.7rem;
    list-style: none;

    
}
.skills-item {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(63, 94, 28);
    font-size: 1.5rem;

}
                                /*---------CLASS REFERENCES -----------------*/
#references {
    border: 1px solid aqua;
    border-radius: 15px;
    padding-block: 1rem;
    padding-inline: 1rem;
   
}                          
.references-title {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(57, 201, 96);
    font-size: 1.3rem;
    text-align: center;

  

}
.references-name {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(141, 187, 89);
    font-size: 22px;
    text-align: center;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  
}
.references-contato {
    font-family: 'Indie Flower', cursive;
    color:gray;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(117, 177, 48);
    font-size: 18px;
  
    

}
.references-link {
    text-decoration: none;
}
.references-link:hover {
    color: rgb(243, 224, 224);
}

@media (min-width:800px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .introducion-one {
      flex-wrap: nowrap;
      
    }
    .profile {
        flex-wrap: nowrap;
        margin-inline: 8rem;
        margin-bottom: 1rem;
        padding-inline: 2rem;
        
    }
    .container {
        flex-wrap: nowrap;
        padding-block: 4rem;
    }
    .container2 {
     flex-direction: column;
     padding-block: 3rem;
    

    }
    .skills-items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .skills {
        padding-block: 2rem;
    }

}
